In [1]:
# XML

import pandas as pd

In [21]:
dataFrame = pd.read_xml('frutas.xml', elems_only=False, attrs_only=False)
dataFrame

   id      fruta
0   1    naranja
1   2  mandarina
2   3       pera
3   4      melon
4   5    durazno
5   6     sandia

In [27]:
dataFrame = pd.read_xml('frutas2.xml')
dataFrame

      nombre
0    naranja
1  mandarina
2       pera
3      melon
4    durazno
5     sandia