In [17]:
#Bases de datos
from os import getcwd

import pyodbc

import pandas as pd

In [7]:
# Establecer conexi贸n

# Nombre del controlador.
DRIVER_NAME = "Microsoft Access Driver (*.mdb, *.accdb)"

# Ruta completa del archivo.
DB_PATH = getcwd() + "/escuelita.accdb"

# Establecer la conexi贸n.
conn = pyodbc.connect("Driver={%s};DBQ=%s;" % (DRIVER_NAME, DB_PATH))

In [9]:
# Crear cursor para ejecutar consultas.
cursor = conn.cursor()

# Ejecutar consulta: retornar todas las filas de la tabla empleados.
q = cursor.execute("SELECT * FROM alumno")
rows = q.fetchall()
rows

[(1, 'Juanito'), (2, 'Maria'), (3, 'Pedro'), (4, 'Camila')]

In [12]:
# Agregar algunos datos

newAlumno = 'Pablo'

sqlINSERT = u'INSERT INTO alumno (nombre) values (?)'

cursor.execute(sqlINSERT, newAlumno)
cursor.commit()

In [13]:
q = cursor.execute("SELECT * FROM alumno")
rows = q.fetchall()
rows

[(1, 'Juanito'), (2, 'Maria'), (3, 'Pedro'), (4, 'Camila'), (5, 'Pablo')]

In [19]:
dataframe = pd.read_sql("SELECT * FROM alumno", con = conn)
dataframe

C:\Users\ZayLJ\AppData\Local\Temp\ipykernel_7640\284354177.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dataframe = pd.read_sql("SELECT * FROM alumno", con = conn)

   Id   nombre
0   1  Juanito
1   2    Maria
2   3    Pedro
3   4   Camila
4   5    Pablo

In [14]:
# Recorrer cada una de las filas e imprimirlas en pantalla.

"""
if rows is not None:
    for row in rows:
        print(row)
else:
    print("No hay datos en la tabla.")

# Cerrar la conexi贸n y, opcionalmente, el cursor antes de finalizar.
cursor.close()
conn.close()
"""

'\nif rows is not None:\n    for row in rows:\n        print(row)\nelse:\n    print("No hay datos en la tabla.")\n\n# Cerrar la conexi贸n y, opcionalmente, el cursor antes de finalizar.\ncursor.close()\nconn.close()\n'