In [1]:
import io

archivo = open("archivoCSV.csv")
contenido = archivo.read()
archivo.close()

print(contenido)

Nombre,Apellido,Edad
Juan,Lopez,30
Pedro,Perez,25
Jesus,Jimenez,45
Maria,Sanchez,28

In [4]:
import pandas as pd

df = pd.read_csv('archivoCSV.csv', nrows=10000)

print(df)
print()
print(df.head(1))

  Nombre Apellido  Edad
0   Juan    Lopez    30
1  Pedro    Perez    25
2  Jesus  Jimenez    45
3  Maria  Sanchez    28

  Nombre Apellido  Edad
0   Juan    Lopez    30

In [13]:
#Estructura Json
#  { "Citricos" : { "toronja" : 4, "limon" : 8, "naranja" : 4, "mandarina" : 8 } }

print(pd.read_json('data.json'))

    Duration
0         60
1         60
10        60
2         60
3         45
4         45
5         60
6         60
7         45
8         30
9         60

In [14]:
dic = {
    "nombre" : "Juan",
    "edad" : 28
}

dataframe = pd.DataFrame(dic, index=[0])

dataframe

  nombre  edad
0   Juan    28